.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

.dtb-core

# Python
__pycache__/
*.pyc
*.pyo

# Airflow
airflow.cfg
airflow.db

# Virtual environment
venv/
dbt_venv/

# Sensitive information
.env
secrets.json



### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Python
__pycache__


.idea/*
*.bkp
*.egg-info
*.pyc
.DS_Store
.ipynb*
.coverage
.python-version
airflow/git_version
airflow/www/static/coverage/
airflow.db
airflow.cfg
airflow_login.py
build
cover
dbinit.py
docs/_*
dist
env
initdb.py
logs
MANIFEST
secrets.py
sftp-config.json
unittests.cfg
error.log
unittests.db
rat-results.txt
/.eggs/
/.tox/
venv